{
    admin off
    persist_config off
    auto_https off
}

:{$PORT:3000} {
    root * /srv
    encode gzip

    handle /health {
        respond "OK" 200
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
