{
    admin off
    persist_config off
    auto_https off
}

:{$PORT:3000} {
    rewrite /health /health

    root * /srv
    encode gzip
    file_server

    handle /health {
        respond "OK" 200
    }

    try_files {path} /index.html
}
